.coinPage {
  display: flex;
  justify-content: center;
  height: 75vh;
  align-items: center;

  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #2fffe5;
    border-radius: 10px;
    padding: 4rem;
    width: 400px;

    .coinImage {
      margin-bottom: 1rem;
    }

    .coinName {
      margin-bottom: 1rem;
    }

    .coinTicker {
      margin-bottom: 1rem;
    }

    .coinCurrent {
      margin-bottom: 1rem;
      font-size: 2rem;
    }
  }
}